@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);


.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}


/*menu*/
.header
{
	background-color: #444565;
}



.container-menu li {
    background-color: #444565;
    
}

.portada 
{
	background: url(../images/slider/bg1.jpg);
height: 400px;
width: 1260px;
}

.portada h2,p
{
color: white;
margin-left: 30px;
}
.file
{
	width: 1275px;
	background-color: red;
}

.portada h2
{
	margin-top: 350px;
}
/*aqui empiza container_clients*/
.container_clients{
	background-color: #FA5858;
	color:white;
	height: 400px;
}
.centrado{
	text-align: center;
}
.linea{
	background-color: white;
	width: 5px;
	height: 65px;
}
.container_company{
	background-color: #2E2E2E;
	color:#848484;

}
.company{
	list-style: none;
	padding: 0;
}
.blog{
	padding: 0;
}
.list{
	list-style: none;
}
.list li{
	display: inline-block;
	float: right;
	margin-right: 30px;
}
.footer{
	background-color: #151515;
	color: #848484;
	height: 100px;
}

/*aqui termina container_clients*/

.container_about{
	background-color: #04B45F;
	color:white;
}
#hijo{
	text-align: center;
	margin-top: 10%;

}